/*font-family: 'Pirata One', cursive;
font-family: 'Open Sans', sans-serif;*/

body {
  font-family: 'Open Sans', sans-serif;
}

#cover {
	background: url("../images/night-trees-stars.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 400px;
	width: 100%;
	border-bottom: 8px solid #ffd700;
}

#cover h1{
	font-family: 'Pirata One', cursive;
	font-size: 100px;
	color: #ffd700;
	padding-top: 100px;
	text-shadow: 2px 2px 5px #fff4b3;
}

#cover h2 {
	color: white;
	text-shadow: 2px 2px 5px black;
}

.fa-bolt {
	color: #ffd700;
}