/*font-family: 'Pirata One', cursive;
font-family: 'Open Sans', sans-serif;*/

body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-family: 'Pirata One', cursive;
}

.navbar-brand {
	font-family: 'Pirata One', cursive;
	font-size: 2em;
	font-weight: bold;
}